* {
      margin: 0;
      padding: 0;
  }
  *
        * {
      margin: 0;
      padding: 0;
      }
      *
  {
    text-decoration: none;
  }
  body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
  }
  .header {
    padding: 0px;
    text-align: center;
    background: black;
    color: white;
  }
  .header h1 {
    color: lightcyan;
    font-size: 40px;
  }